
<input type="text" [(ngModel)]="search">
<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Cumpleaños</th>
    </tr>
  </thead>

  <tbody>

      <tr *ngFor="let user of (users | filter: search )">
        <td  >
          <img [src]="user.picture.medium" alt="">
        </td>

        <td>
       <p [appGenderRowColor]="user?.gender"> {{user.name.first}} {{user.name.last}} </p>
          
        </td>

        <td>
          {{user.dob.date | date:'dd/MM/yyyy'}}
        </td>
      </tr>
 
  </tbody>
</table>